.atom-heading {
    &__h1 {
        font-family: RobotoSerif, 'Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 52px;
        letter-spacing: -0.025em;
        font-feature-settings: 'tnum'on, 'lnum'on;
        color: var(--black);
        font-variation-settings: 'wght'600;
    }

    &__h2 {
        font-family: RobotoSerif, 'Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 34px;
        line-height: 44px;
        letter-spacing: -0.025em;
        font-feature-settings: 'tnum'on, 'lnum'on;
        color: var(--black);
        font-variation-settings: 'wght'600;
    }

    &__h3 {
        font-family: RobotoSerif, 'Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 36px;
        letter-spacing: -0.025em;
        font-feature-settings: 'tnum'on, 'lnum'on;
        color: var(--black);
        font-variation-settings: 'wght'600;
    }

    &__h4 {
        font-family: RobotoSerif, 'Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.01em;
        font-feature-settings: 'tnum'on, 'lnum'on;
        color: var(--black);
        font-variation-settings: 'wght'600;

    }

    &__h5 {
        font-family: RobotoSerif, 'Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: -0.01em;
        font-feature-settings: 'tnum'on, 'lnum'on, 'liga'off;
        color: var(--black);
        font-variation-settings: 'wght'600;
    }

    &__h6 {
        font-family: RobotoSerif, 'Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.08em;
        font-feature-settings: 'tnum'on, 'lnum'on, 'liga'off;
        color: var(--black);
        font-variation-settings: 'wght'600;
    }

    &__white {
        color: var(--white);
    }

    &__black {
        color: var(--black);
    }
}