.atom-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 10px 12px;
    font-family: Roboto, 'Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    font-feature-settings: 'tnum'on, 'lnum'on, 'liga'off;

    &__primary {
        background: var(--primary);
        color: var(--white);

        &:not(:disabled):hover {
            background: var(--white);
            color: var(--primary);
            border: 2px solid var(--primary);
            box-sizing: border-box;
            border-radius: 3px;
        }
    }

    &__secondary {
        background: var(--secondary);
        border-radius: 3px;
        color: var(--white);

        &:not(:disabled):hover {
            background: var(--white);
            color: var(--secondary);
            border: 2px solid var(--secondary);
            box-sizing: border-box;
            border-radius: 3px;
        }
    }

    &__transparent {
        width: auto;
        height: auto;
        background: var(--transparent);
        color: var(--transparent);
    }

    &__bordered {
        border: 1.25px solid var(--primary);
    }

    &:disabled {
        cursor: default;
        opacity: 0.5;
    }
}